body {

    margin: 0px;
    overflow: hidden;
    width : 100%;

    -webkit-transform: translateZ(-1000px);
    -webkit-transform-style: preserve-3d;

}
.game{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}



.parallax {
    position : absolute;
    display : block;
    width : 256px;
    height : 384px;
    -webkit-transform-origin : 0% 0%;
}

.container {
    position : absolute;
    display : block;
    -webkit-transform-style: preserve-3d;
    -webkit-transform : translateZ(0px);
    overflow : hidden;
    pointer-events :none;
}